@import './Tabs/TabsStyle/TabsStyle';

.container-wrapper {
    padding: 16px 16px 16px 16px;
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &_error {
        padding-left: 24px;
        width: 1280px;
        height: 105px;
        background-color: #F44336;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        &_error {
            color: $color-white;
        }
    }

    &__subtitle {
        &_error {
            color: $color-white;
        }
    }

    &__form {
        position: relative;
        padding: 0 14px 0 14px;
        margin-top: 18px;
        display: flex;
        align-items: center;
        background-color: $subcolor-bg;
        width: 100%;
        height: 40px;
        border-radius: 16px;

        &-loop {
            padding-right: 10px;
        }

        img {
            background-color: $subcolor-bg;
        }

        &-input {
            width: 95%;
            z-index: 2;

            input {
                width: 100%;
                border: none;
                background: none;
                outline: none;
                display: flex;

                &:invalid:not(:placeholder-shown)+.search__form-error {
                    display: block;
                }
            }
        }

        &-error {
            color: red;
            text-align: left;
            font-size: 12px;
            display: block;
            margin-top: 3px;
            display: none;
        }

        &-btn {
            position: absolute;
            right: 10px;
            z-index: 2;

            button {
                border: none;
            }
        }
    }

    &__nav {
        margin-top: 22px;
        max-width: 440px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: $sub-color;
            z-index: 2;
            position: relative;

            &:after {
                display: block;
                content: "";
                height: 1px;
                width: 0%;
                left: 50%;
                background-color: $main-color;
                position: absolute;
                -webkit-transition: width .3s ease-in-out;
                -moz--transition: width .3s ease-in-out;
                transition: width .3s ease-in-out;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            &:hover:after,
            &a:focus:after {
                width: 100%;
            }
        }
    }


    &__item {
        padding: 0 10px 0 10px;
    }
}

.active-link {
    border-bottom: 1px solid $main-color;
}