@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 576px) {
    .search {
        &__nav {
            justify-content: center;
        }
    }

    .divider {
        display: none;
    }
}

@media (max-width: 350px) {
    .search {
        &__nav {}
    }

    .user {

        &__descr {}

        &__data {
            justify-content: flex-start;
        }
    }

    .search {
        &__nav {
            flex-direction: column;

            a {
                font-size: 20px;
            }
        }
    }

    .tab {
        padding-top: 70px;
    }

    .divider-sort {
        margin: 0px 0 20px 0;
    }

    .profile {

        &__age {
            flex-wrap: wrap;

            &-day {}
        }
    }
}